html,body {
  font-family: Montserrat;
  scrollbar-width: none;
  -ms-overflow-style: none;
 
}
body::-webkit-scrollbar {
  display: none;
}

.content-box {
  @apply !pb-[50px];
  .Toastify__toast {
    font-family: Montserrat;
  }
}
.home {
  @apply px-[20px] pt-[10px] pb-[30px] min-h-screen max-w-[500px] mx-auto text-black bg-white;
}

.generation {
  background-image: url('assets/img/generation.png');
  background-repeat: no-repeat;
  background-size: 60px 60px;
}

